body {
    background-color: #F3F3F3;
}

.logo {
    float: left;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.nav-item a {
    padding: 10px 25px !important;
}

.sing-in {
    padding: 7px 50px !important;
    margin: 0px 30px !important;
    font-weight: bold;
}

.nav-inf {
    margin: 20px 0 0 0;
}

.line {
    font-size: 20px;
}

#layer1,
#layer2 {
    position: relative;
}

#layer1 {
    z-index: 2;
    color: white;
    text-align: center;
    top: -500px;
    font-size: 60px;
    padding: 0 50px;
}

#layer2 {
    z-index: 1;
}

.news,
.clients h2 {
    text-align: center;
    font-size: 42px;
    margin: 20px 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.news-img {
    height: 60%;
    width: 98%;
}

.newsBlocks {
    display: flex;
    justify-content: space-between;
}

.mailing {
    margin: 50px 0;
    font-size: 24px;
}

.logo-footer img {
    margin: 15px;
    padding: 10px;
}

.ft-info,
.logo-footer p {
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    #layer1 {
        font-size: 42px;
    }
}

@media screen and (max-width: 870px) {
    #layer1 {
        font-size: 36px;
        top: -300px;
    }
}

@media screen and (max-width: 870px) {
    #layer1 {
        font-size: 24px;
        top: -250px;
    }
}

@media screen and (max-width: 870px) {
    #layer1 {
        font-size: 18px;
        top: -200px;
    }
}


/* ----------Сторінка входу------*/

#sing-in {
    display: flex;
    justify-content: center;
}

.bg-block {
    background-color: white;
    width: 650px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    border-radius: 20px;
}

#sing-in img {
    height: 250px;
    width: 250px;
    position: absolute;
}

.sing button,
.us button {
    margin: 10px;
}